<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.EmpDAO">

    <cache type="cn.edu.zjut.cache.RedisCache"/>

    <select id="findAll" resultType="Emp">
        select *
        from t_emp;
    </select>

    <select id="findOne" parameterType="Integer" resultType="Emp">
        select *
        from t_emp
        where id = #{id}
    </select>

    <insert id="save" parameterType="Emp">
        insert into t_emp
        values (#{id}, #{name}, #{path}, #{salary}, #{age});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete
        from t_emp
        where id = #{id};
    </delete>

    <update id="update" parameterType="Emp">
        update t_emp
        set name   = #{name},
            path   = #{path},
            salary = #{salary},
            age    = #{age}
        where id = #{id};
    </update>
</mapper>